<footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/logo.png" alt="Trafalgar Logo">
        <p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone.</p>
        <h4>©Trafalgar PTY LTD 2020. All rights reserved</h4>

      </div>
  
      <div class="footer-links">
        <div class="footer-column">
          <h4>Company</h4>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Testimonials</a></li>
            <li><a href="">Find a doctor</a></li>
            <li><a href="">Apps</a></li>
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>Region</h4>
          <ul>
            <li><a href="">Indonesia</a></li>
            <li><a href="">Singapore</a></li>
            <li><a href="">Hongkong</a></li>
            <li><a href="">Canada</a></li>
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>Help</h4>
          <ul>
            <li><a href="">Help center</a></li>
            <li><a href="">Contact support</a></li>
            <li><a href="">Instructions</a></li>
            <li><a href="">How it works</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  